[submodule "evmjit"]
	path = evmjit
	url = https://github.com/aquachain/evmjit
	branch = develop
[submodule "test/tests"]
	path = test/jsontests
	url = https://github.com/aquachain/tests.git
[submodule "hera"]
	path = hera
	url = https://github.com/ewasm/hera
